*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e5e5db;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%237c5ab3' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

.contenedor-total{
    width: 80%;
    height: 100vh;
    background-color: #e5e5db;
    margin: auto;
    padding: 50px;
    /*display: flex;
    flex-direction: column;
    flex-wrap: wrap;*/
}

.contenedor-total h1{
    text-align: center;
    padding: 10px;
    color: purple;
    letter-spacing: 2px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
}

.contenedor-total .contenedor-centro{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

.contenedor-total .contenedor-centro .operacion{
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
}


.contenedor-total .contenedor-centro input{
    width: 150px;
    height: 70px;
   font-size: 20px;
   padding: 5px;
   color: purple;
   letter-spacing: 2px;
   
}

.contenedor-total .contenedor-centro button{
    padding: 13px;
    border-radius: 25px;
    border: none;
    background-color: purple;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 18px;
    margin: 30px;
}

.contenedor-total .contenedor-parrafo{
  /* border: 1px solid green;*/
   margin: auto;
   width: 50%;
   padding: 20px;
   text-align: center;
   letter-spacing: 3px;
   font-size: 21px;
   color: red;
   font-weight: bold;
}
/*

.contenedor-total .contenedor-parrafo p{
    border: 1px solid #000;
    color: #fff;
    background-color: rgb(51, 1, 51);
    display: inline-block;
    width: 300px;
    padding: 20px;
    letter-spacing: 3px;
    font-size: 25px;
    margin: 30px;
    border-radius: 15px;
}*/